---
import { getCollection } from 'astro:content'
import { sortTalks } from '@/lib/talks'

import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import Comment from '@/components/comment/Comment.astro'
import TalksSeries from '@/components/talks/TalksSeries.astro'

export const prerender = true

const talks = sortTalks((await getCollection('talks')).filter((t) => !t.data.draft))
---

<PageLayout
  meta={{
    title: '分享会 · Talks',
    description: 'Talk notes and placeholder entries.'
  }}
  highlightColor='#6FA3B8'
>
  <Button title='Back' href='/' style='back' />
  <h1 class='sr-only'>分享会 / Talks</h1>
  <TalksSeries talks={talks} />
  <Comment class='mt-10' path='/talks' />
</PageLayout>
