---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'

const tags = ['photography', 'camera', 'gallery']
---

<PageLayout title='Photography' info={{ slug: '/photography', hideComment: true }}>
  <p>摄影。</p>
  <div class='not-prose flex flex-wrap gap-2'>
    {
      tags.map((tag) => (
        <Button href='#' style='pill'>
          {tag}
        </Button>
      ))
    }
  </div>
</PageLayout>
