---
import PageLayout from '@/layouts/CommonPage.astro'
import GitHubContributions from '@/components/projects/GitHubContributions.astro'

const headings = [{ depth: 2, slug: 'github', text: 'GitHub' }]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <h2 id='github'>GitHub</h2>
  <GitHubContributions username='OutlierLi' />
</PageLayout>
