---
import { Button } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'

const tags = ['thoughts', 'life', 'journal']
---

<PageLayout title='Thoughts' info={{ slug: '/en/thoughts', hideComment: true }}>
  <p>随想。</p>
  <div class='not-prose flex flex-wrap gap-2'>
    {
      tags.map((tag) => (
        <Button href='#' style='pill'>
          {tag}
        </Button>
      ))
    }
  </div>
</PageLayout>
